<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
    {{ partial "head.html" . }}
    <body>
        <div class="grid-body">
            {{ partial "header.html" . }}
            <main id="content">
            {{ block "main" . }}
            {{ end }}
            </main>
            {{ if .Param "display_toc" }}
                <div id="TableOfContents">
                On this page
                {{ .TableOfContents }}
                </div>
            {{ end }}
            {{ partial "footer.html" . }}
        </div>
    </body>
</html>
