/* ## GLOBAL PROPERTIES */
:root {
    /* COLORS */
    --heading-dark: #0a0a0a;
    --heading-light: #a3a3a3;
    --text-dark: #525252;
    --text-medium: #a3a3a3;
    --text-light: #d4d4d4;
    --link: #047857;
    --link-hover: #10b981;
    /* OTHER PROPERTIES */
    --scroll-margin-top: 0px; /* Adjust link scroll for header */
    --scrollbar-padding: 15px;
    --margin-padding: 15px;
    --content-width: 1000px
  }


html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scrollbar-gutter: stable both-edges;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    overflow-wrap: break-word;
    font-family: ui-sans-serif, system-ui;
    color: var(--text-dark);
}

/* ## GRID PROPERTIES */
#grid-body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto var(--content-width) auto;
  }

header#site {
    grid-row: 1;
    grid-column: 2 / 3;
    padding: 40px var(--margin-padding);
}

footer#site {
    grid-row: 3;
    grid-column: 2;
    padding: 10px var(--margin-padding);
}

main#content {
    grid-row: 2;
    grid-column: 2;
    padding: 0px var(--margin-padding);
}

#grid-post {
    display: flex;
}

article#post {
    width: 75%;
}

aside#table-of-contents {
    width: 25%;
}

/* ## HEADER PROPERTIES */
header#site {
    line-height: 2rem;
}

header#site h2 {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: none;
}

header#site a {
    color: var(--heading-dark);
    text-decoration: none;
    transition: 0.5s;
}

header#site a:hover {
    color: var(--link-hover);
    text-decoration: none;
    transition: 0.25s;
}

header#site nav {
    float: right;
}

header#site nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: none;
}

header#site nav ul li {
    margin: 0 7.5px;
    display: inline;
}

/* ## FOOTER PROPERTIES */
footer#site {
    font-size: 12.5px;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text-light);
    }

/* ## GENERAL CONTENT PROPERTIES */
main#content a {
    color: var(--link);
    text-decoration: none;
}

main#content a:hover {
    text-decoration: underline;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-bottom: 0;
    line-height: 1;
    scroll-margin-top: var(--scroll-margin-top);
    color: var(--heading-dark)
}

main#content p {
    margin: 10px 0;
    line-height: 1.75;
    color: var(--text-dark);
}

main#content header#post-site h1 {
    display: block;
    font-size: 25px;
    font-size: 2.5rem;
}

main#content header#post-site > div {
    display: block;
    margin: 5px 0;
    font-size: 0.9em;
    color: var(--text-medium);
}

main#content abbr {
    cursor: help;
    text-underline-offset: 2.5px;
}

main#content blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 2.5px solid var(--text-light);
    font-style: italic;
}

main#content hr {
    height: 1px;
    border: 0;
    background: var(--text-light);
}

main#content .footnotes {
    font-size: 0.9em;
}

main#content cite > sup {
    scroll-margin-top: var(--scroll-margin-top);
}

/*
max-width prevents SVGs from expanding flexbox
user-select prevents selection of text in SVG 
*/
main#content figure > * {
    display: block;
    margin: auto;
    max-width: 100%;
    user-select: none;
}

/* ## TABLE OF CONTENTS PROPERTIES */
aside#table-of-contents {
    top: 25px;
    position: sticky;
    align-self: start;
    margin: 0 10px;
    padding: 0 5px;
    font-size: 15px;
    font-size: 1.5rem;
    border-left: 1px solid var(--text-light);
}

aside#table-of-contents ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    font-size: 12.5px;
}

aside#table-of-contents ul > li:before {
    content: "- ";
  }

/* ## HOME PAGE PROPERTIES */
main#content header#post-site-home {
    text-align: center;
}

main#content header#post-site-home img {
    border-radius: 50%;
}

main#content header#post-site-home h2 {
    margin: 5px 0;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 300;
    color: var(--text-medium);
}

main#content header#post-site-home div#links-home svg {
    width: 25px;
    height: 25px;
    margin: 10px;
    fill: var(--text-medium);
    transition: 0.25s;
}

main#content header#post-site-home div#links-home svg:hover {
    transform: scale(1.5);
    fill: var(--link-hover);
    transition: 0.25s;
}

main#content section#content-home {
    margin: 35px 10vw;
    text-align: center;
}

/* ## POST LIST STYLES */
main#content ul#posts {
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
    font-size: 15px;
    font-size: 1.5rem;
}

main#content ul#posts li {
    margin: 5px 0;
    padding: 0;
}

main#content ul#posts small {
    margin-left: 10px;
    font-size: 0.8em;
    color: var(--text-medium);
}

main#content ul#posts li a {
    color: var(--link);
    text-decoration: none;
}

main#content ul#posts li a:hover {
    color: var(--link-hover);
}

main#content ul#posts li a:hover small {
    color: inherit;
}

/* ## CODING PROPERTIES */
/* Bounding box of highlight (space around coding rectangle) */
main#content .highlight {
    margin-top: 5px;
    border-radius: 5px;
    overflow: hidden;
}

/* Box of highlight (coding rectangle) */
main#content .chroma {
    margin: 0;
    overflow-x: auto;
    scrollbar-color: #7f7f7f #272822;
    scrollbar-width: thin;
}

/* Box of highlight with line numbers */
main#content div.highlight > div.chroma {
    padding: 5px 5px 5px 5px;
}

/* Box of highlight without line numbers */
main#content div.highlight > pre.chroma {
    padding: 5px 15px;
}

main#content code {
    font-family: Consolas, monospace;
    font-size: 12.5px;
    font-size: 1.25rem;
}

main#content p > code {
    background-color: var(--text-light);
    border-radius: 2.5px;
    padding: 2.5px;
}

/* ## REMOVING TABLE OF CONTENTS */
/* (see content-width variable for size + buffer) */
@media only screen and (max-width: 992px) {
    #grid-body {
        grid-template-columns: 0 auto 0;
      }

    #grid-post {
        flex-direction: column;
    }

    article#post {
        width: 100%;
    }

    main#content .highlight {
        width: calc(100vw - 2 * var(--margin-padding) - 2 * var(--scrollbar-padding));
    }

    aside#table-of-contents {
        display: none;
    }
}

/* ## SMALL SCREEN */
@media only screen and (max-width: 768px) {
    header#site {
        padding: 15px var(--margin-padding);
    }

    header#site nav ul li {
        display: block;
    }
}
