*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    overflow-wrap: break-word;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, sans-serif, "Apple Color Emoji", "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #313a3d;
}

header#banner {
    top: 0;
    left: 0;
    padding: 7.5px 10px;
    position: sticky;
    background-color: inherit;
    box-shadow: 0 0.125rem 0.5rem 0 rgba(0,0,0,0.1);;
}

header#banner a {
    color: #313a3d;
    text-decoration: none;
}

header#banner a:hover {
    color: #007dfa;
    text-decoration: none;
    transition: 0.25s;
}

header#banner h2 {
    display: inline;
    font-size: 20px;
    font-size: 2rem;
    margin: 0 10px 0 0;
}

header#banner nav {
    display: inline-block;
}

header#banner nav ul {
    list-style-type: none;
    font-size: 1.05em;
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

header#banner nav ul li {
    display: inline;
    margin: 0 5px;
}

header#banner nav ul li a {
    color: #454545;
}

main#content {
    margin: 10px auto;
    padding: 0 15px;
}

main#content a {
    color: #007dfa;
    text-decoration: none;
}

main#content a:hover {
    text-decoration: underline;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-bottom: 0;
    line-height: 1.15;
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 5px;
}

main#content p {
    color: #394548;
    margin: 10px 0;
}

main#content hr {
    height: 1px;
    border: 0;
    background: #d8d8d8;
}

main#content abbr {
    cursor: help;
    text-underline-offset: 2.5px;
}

/* index.html styles */
main#content ul#posts {
    list-style-type: none;
    font-size: 15px;
    font-size: 1.5rem;
    margin-top: 10px;
    padding: 0;
}

main#content ul#posts li {
    margin: 5px 0;
    padding: 0;
}

main#content ul#posts small {
    font-size: 0.8em;
    color: #767676;
    margin-left: 10px;
}

main#content ul#posts li a {
    text-decoration: none;
}

main#content ul#posts li a:hover {
    color: #369aff;
}

main#content ul#posts li a:hover small {
    color: inherit;
}

/* single.html styles */
main#content header#post-header h1 {
    display: block;
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.15;
}

main#content header#post-header > div {
    display: block;
    font-size: 0.9em;
    color: #767676;
}

main#content #toc {
    border: 1px solid #b1b1b1;
    border-radius: 1px;
    line-height: 26px;
    margin: 16px 0;
    padding: 9px 14px;
}

main#content #toc h4 {
    font-size: 1.06em;
    color: #3d3d3d;
    margin: 0;
}

main#content #toc nav#TableOfContents {
    margin-top: 4px;
}

main#content #toc nav#TableOfContents > ul, main#content #toc nav#TableOfContents > ol {
    margin-left: -40px;
}

main#content #toc ul, main#content #toc ol {
    font-size: 0.98em;
    margin: 0;
    padding: 0 0 0 40px;
}

main#content #toc ul {
    list-style-type: none;
}

main#content #toc ol {
    counter-reset: item;
}

main#content #toc ol li {
    display: block;
}

main#content #toc ol li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
}

main#content blockquote {
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 2.5px solid #ccc;
}

/* Bounding box of highlight (space around coding rectangle) */
main#content .highlight {
    margin-top: 5px;
    overflow-x: auto;  /* Activate scroll bar when window is too small */
}

/* Box of highlight (coding rectangle) */
main#content .chroma {
    border-radius: 5px;
    margin: 0px;
    overflow: auto; /* Expand rectangle when code is too long */
}

/* Box of highlight with line numbers */
main#content div.highlight > div.chroma {
    padding: 5px 5px 5px 5px;
}

/* Box of highlight without line numbers */
main#content div.highlight > pre.chroma {
    padding: 5px 15px;
}

main#content code {
    font-family: Consolas, monospace;
    font-size: 12.5px;
    font-size: 1.25rem;
}

main#content .footnotes {
    font-size: 0.9em;
}

footer#footer {
    margin: 10px auto;
    padding: 0 15px;
    font-size: 12.5px;
    font-size: 1.25rem;
    font-weight: 400;
    color: #b3b3b3;
    }
