/* GLOBAL PROPERTIES */
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    overflow-wrap: break-word;
    font-family: ui-sans-serif, system-ui;
    color: #313a3d;
}

/* GRID PROPERTIES */
.grid-body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 5fr 1fr;
    background-color: white;
  }

header#header {
    grid-row: 1;
    grid-column: 2 / 3;
}

footer#footer {
    grid-row: 3;
    grid-column: 2;
}

main#content {
    grid-row: 2;
    grid-column: 2;
}

.grid-main {
    display: grid;
    grid-template-columns: 4fr 1fr;
    background-color: white;
}

article {
    grid-column: 1;
}

div#TableOfContents {
    grid-column: 2;
}

/* HEADER PROPERTIES */
header#header {
    padding: 40px 0 40px 0;
    line-height: 2rem;
}

header#header h2 {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: none;
}

header#header nav {
    float: right;
}

header#header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 18px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: none;
}

header#header nav ul li {
    margin: 0 5px;
    display: inline;
}

header#header nav ul li a {
    color: #454545;
}

header#header a {
    color: #313a3d;
    text-decoration: none;
}

header#header a:hover {
    color: #007dfa;
    text-decoration: none;
    transition: 0.25s;
}

/* FOOTER PROPERTIES */
footer#footer {
    padding: 10px 0;
    font-size: 12.5px;
    font-size: 1.25rem;
    font-weight: 400;
    color: #b3b3b3;
    }


/* GENERAL CONTENT PROPERTIES */
main#content a {
    color: #007dfa;
    text-decoration: none;
}

main#content a:hover {
    text-decoration: underline;
}

main#content h1,
main#content h2,
main#content h3,
main#content h4,
main#content h5,
main#content h6 {
    margin-bottom: 0;
    line-height: 1.15;
    scroll-margin-top: 50px; /* Adjust link scroll for header */
}

main#content h1 + p,
main#content h2 + p,
main#content h3 + p,
main#content h4 + p,
main#content h5 + p,
main#content h6 + p {
    margin-top: 5px;
}

main#content p {
    margin: 10px 0;
    line-height: 2;
    color: #394548;
}

main#content header#post-header h1 {
    display: block;
    font-size: 25px;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.15;
}

main#content header#post-header > div {
    display: block;
    font-size: 0.9em;
    color: #767676;
}

main#content abbr {
    cursor: help;
    text-underline-offset: 2.5px;
}

main#content blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 50px;
    padding-left: 15px;
    border-left: 2.5px solid #ccc;
    font-style: italic;
}

main#content hr {
    height: 1px;
    border: 0;
    background: #d8d8d8;
}

main#content .footnotes {
    font-size: 0.9em;
}

main#content cite > sup {
    scroll-margin-top: 50px; /* Adjust link scroll for header */
}

/* TABLE OF CONTENTS PROPERTIES */
div#TableOfContents {
    top: 70px;
    position: sticky;
    align-self: start;
    margin: 0 10px;
    padding: 0 5px;
    font-size: 15px;
    border-left: 1px solid #d8d8d8;
}

div#TableOfContents ul {
    margin: 0;
    padding: 0 10px;
    list-style-type: none;
    font-size: 12.5px;
}

/* POST LIST STYLES */
main#content ul#posts {
    margin-top: 10px;
    padding: 0;
    list-style-type: none;
    font-size: 15px;
    font-size: 1.5rem;
}

main#content ul#posts li {
    margin: 5px 0;
    padding: 0;
}

main#content ul#posts small {
    margin-left: 10px;
    font-size: 0.8em;
    color: #767676;
}

main#content ul#posts li a {
    text-decoration: none;
}

main#content ul#posts li a:hover {
    color: #369aff;
}

main#content ul#posts li a:hover small {
    color: inherit;
}

/* CODING PROPERTIES */
/* Bounding box of highlight (space around coding rectangle) */
main#content .highlight {
    margin-top: 5px;
    overflow-x: auto;  /* Activate scroll bar when window is too small */
}

/* Box of highlight (coding rectangle) */
main#content .chroma {
    margin: 0px;
    overflow: auto; /* Expand rectangle when code is too long */
    border-radius: 5px;
}

/* Box of highlight with line numbers */
main#content div.highlight > div.chroma {
    padding: 5px 5px 5px 5px;
}

/* Box of highlight without line numbers */
main#content div.highlight > pre.chroma {
    padding: 5px 15px;
}

main#content code {
    font-family: Consolas, monospace;
    font-size: 12.5px;
    font-size: 1.25rem;
}
