{{ define "main" }}
<div id="grid-post">
    <article>
        <header id="post-site">
            <h1>{{ .Title }}</h1>
            <div>
            {{ if isset .Params "date" }}
                {{ if eq .Lastmod .Date }}
                    <time>{{ .Date | time.Format (i18n "post.created") }}</time>
                {{ else }}
                    <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
                {{ end }}
            {{ end }}
            </div>
        </header>
        {{ .Content }}
    </article>
    {{ if .Param "showTableOfContents" }}
    <aside class="table-of-contents">
    On this page
    {{ .TableOfContents }}
    </aside>
    {{ end }}
    </div>
{{ end }}
