{{/*
Insert d3 plots into Markdown files.

The JS file must export a function draw which accepts the ID of a div element
that is used to hold the plot as its first argument. It may optionally accept a
data structure that is used to draw the plot elements as its second argument.
Scripts and data are expected to be page resources, i.e., stored in a directory
with an index.md as a leaf bundle, not global resources (which are stored under
the assets/ directory at the root).

This function does not insert the D3 library into the page, so any pages using
this shortcode must also use the d3_library shortcode.

Parameters
----------
script_path: Path to JS file.
data_path: Path to data used for draw function. If given, draw function in JS
    file is called with data.
div_id: ID of div element used to hold plot.
*/}}

{{ $script_path := .Get "script_path" }}
{{ $data_path := .Get "data_path" }}
{{ $div_id := .Get "div_id" }}

{{/* Create a div where the plot will be inserted */}}
<div class="d3_plot" id="{{ $div_id }}"></div>

{{/* Call draw function if data_path is given */}}
{{ if $data_path }}
    <script type="module">
        import { draw } from "{{ (.Page.Resources.Get $script_path).RelPermalink }}"
        fetch("{{ (.Page.Resources.Get $data_path).RelPermalink }}")
            .then(response => response.json())
            .then(data => draw(data, "#{{ $div_id }}"))
    </script>
{{ else }}
    <script type="module">
        import { draw } from "{{ (.Page.Resources.Get $script_path).RelPermalink }}"
        draw("#{{ $div_id }}")
    </script>
{{ end }}
